%montserrat-medium {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

%montserrat-semibold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

%montserrat-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

%roboto-regular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

$main: #1f1e1f;